In [3]:
import numpy as np
import pandas as pd
data = open("D:\Python tutorials\SampleSuperstore.csv",'r')
df = pd.read_csv(data)
df

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [4]:
df.loc[df['Profit'].idxmin()]

Ship Mode       Standard Class
Segment               Consumer
Country          United States
City                 Lancaster
State                     Ohio
Postal Code              43130
Region                    East
Category            Technology
Sub-Category          Machines
Sales                  4499.98
Quantity                     5
Discount                   0.7
Profit                -6599.98
Name: 7772, dtype: object

In [6]:
df.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

Checking for Null Value

In [9]:
df.isnull().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

<h1>Total No.of Rows and Columns:</h1>

In [13]:
Total_rows = len(df.axes[0])
Total_cols = len(df.axes[0])
print("Total no. of rows :", Total_rows)
print("Total no. of Columns :", Total_cols)

Total no. of rows : 9994
Total no. of Columns : 9994

Citywise count

In [24]:
City_count = df['City'].value_counts()
print(City_count)
#Counting total no. of cities
Total_city = df['City'].nunique()
print("Total no. of cities:", Total_city)

New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Montebello         1
Romeoville         1
Atlantic City      1
Manhattan          1
Conway             1
Name: City, Length: 531, dtype: int64
Total no. of cities: 531

State wise Count

In [25]:
State_count = df['State'].value_counts()
print(State_count)
#Counting total no. of States
Total_state = df['State'].nunique()
print("Total no. of States:", Total_state)

California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
Louisiana                 42
South Carolina            42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: State, dtype: int64
Total no. of States: 49

Category wise Count

In [27]:
catg = df['Category'].value_counts()
catg

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64

In [29]:
# Maximum Profit
df.loc[df['Profit'].idxmax()]

Ship Mode       Standard Class
Segment              Corporate
Country          United States
City                 Lafayette
State                  Indiana
Postal Code              47905
Region                 Central
Category            Technology
Sub-Category           Copiers
Sales                    17500
Quantity                     5
Discount                     0
Profit                 8399.98
Name: 6826, dtype: object

<h2>To Identify city with maximum profit</h2>
<h3>City wise profit</h3>

In [38]:
City_Profit = df.groupby('City').sum()['Profit']
print("City wise Profit in Ascending Order: \n", City_Profit)

City wise Profit in Ascending Order:
 City
Aberdeen          6.6300
Abilene          -3.7584
Akron          -186.6356
Albuquerque     634.0881
Alexandria      318.6183
                 ...
Woonsocket       78.6791
Yonkers        2767.7557
York           -102.1692
Yucaipa          13.2080
Yuma           -465.9909
Name: Profit, Length: 531, dtype: float64

In [59]:
City_Profit.sort_values(ascending = False)
####plot

City
New York City    62036.9837
Los Angeles      30440.7579
Seattle          29156.0967
San Francisco    17507.3854
Detroit          13181.7908
                    ...
Chicago          -6654.5688
Lancaster        -7239.0684
San Antonio      -7299.0502
Houston         -10153.5485
Philadelphia    -13837.7674
Name: Profit, Length: 531, dtype: float64

<h2>To Identify Maximum to Minimum profit with in Region"</h2>
<h3>Region wise profit</h3>

In [51]:
Region_profit = df.groupby('Region').sum()['Profit']
print("Region wise profit:\n",Region_profit)

Region wise profit:
 Region
Central     39706.3625
East        91522.7800
South       46749.4303
West       108418.4489
Name: Profit, dtype: float64

In [58]:
#Display Region wise profit in maximum to minimum order
Region_profit.sort_values(ascending = False)
####plot

Region
West       108418.4489
East        91522.7800
South       46749.4303
Central     39706.3625
Name: Profit, dtype: float64